SillyTavern/
SillyTavern-backups/
SillyTavern-extras/
text-completion/
image-generation/
voice-generation/
xtts/
bin/*
!bin/functions/
!bin/functions/**
*.txt
*.logs
/bin/functions/Toolbox/Troubleshooting/telemetry/venv
