SillyTavern/
SillyTavern-backups/
SillyTavern-extras/
text-completion/
image-generation/
voice-generation/
xtts/
bin/*
!bin/functions/
!bin/functions/**
*.txt
*.logs
/bin/functions/Toolbox/Troubleshooting/telemetry/venv
bin/functions/Toolbox/Troubleshooting/detect_vpn - OLD.bat
bin/functions/Toolbox/Troubleshooting/home_port_check - OLD.bat
bin/functions/Toolbox/Troubleshooting/gpu_info - CUDA DETECT IN DEV.bat
